.container {
  display: flex;
  margin: 50px !important;
  min-height: 500px;
  flex-direction: row;

  .side-bar {
    //background-color: #f7941d;
    flex: 1;
    //height: 100%;
    max-width: 300px;
    margin-right: 20px !important;
  }

  .todo-list {
    //background-color: #8d5022;
    flex: 1;
    //height: 100%;
  }
}
