.container {
  display: flex;
  height: 100%;
  margin: 10px;

  .side-bar {
    //background-color: #f7941d;
    flex: 1;
    height: 100%;
  }

  .todo-list {
    //background-color: #8d5022;
    flex: 1;
    height: 100%;
  }
}
